REAM_IMAGE=ethpandaops/ream:master-0bceaee
LEAN_RUST_IMAGE=lean-rust:local
GENESIS_GEN_IMAGE=ethpandaops/eth-beacon-genesis:pk910-leanchain
GENESIS_OFFSET_SECS=180
LEAN_RUST_RUST_LOG=info,lean_beacon=debug,node=debug,lean_core=debug,lean_chain=debug,lean_sync=debug,lean_duties=debug,lean_p2p_host=debug,lean_api=debug,lean_wire=debug,libp2p_swarm=info,discv5=info
