REAM_IMAGE=ethpandaops/ream:master-0bceaee
LEAN_RUST_IMAGE=lean-rust:local
GENESIS_GEN_IMAGE=ethpandaops/eth-beacon-genesis:pk910-leanchain
GENESIS_OFFSET_SECS=180
LEAN_RUST_RUST_LOG=info,lean_beacon=debug,node=debug,engine=debug,runtime_core=debug,runtime_p2p=debug,runtime_chain=debug,runtime_duties=debug,runtime_api=debug,networking=debug,libp2p_swarm=info,discv5=info
